#someid tbody tr td:nth-child(1){
    width:1px;
    background-color:pink;
}
#someid tbody tr td:nth-child(2){
    width:15%;
}
#someid tbody tr td:nth-child(3){
    width:15%;
}
#someid tbody tr td:nth-child(4){
    width:15%;
}
#someid tbody tr td:nth-child(5){
    width:35%;
}
#someid tbody tr td:nth-child(6){
    width:20%;
}   
